/**************************** Navbar and Logo ****************************/

/*Top of the screen container*/
.head {
    position: absolute;
    top: 0;
    left: 40px;
    width: calc(100% - 80px);
    display: flex;
    justify-content: space-between;
    z-index: 10;
    min-width: 850px;
    font-optical-sizing: auto;
    font-style: normal;
    height: 50px;
}

/*Logo*/

.logoContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 250px;
}

.logoImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: inherit;
    font-weight: 600;
    color: #f3f5f7;
    text-decoration:none;
    cursor: pointer;
}

    .logo:hover {
        text-decoration: none;
        color: #f3f5f7;
    }

/*Navbar*/
.head nav {
    background: #9aa0a6;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    position: relative;
    width: 40%;
    min-width: fit-content;
    margin: 0 auto;
}

    .head nav a {
        text-decoration: none;
        color: #f3f5f7;
        transition: color 0.3s ease;
        font-family: "Quicksand", sans-serif;
        font-weight: 400;
    }

        .head nav a:hover {
            color: #cb9445;
        }

/*Sign In Button*/
.userBtnContainer {
    width: 250px;
    display: flex;
    align-items: center;
}

.userBtn {
  flex-grow: 1;
  padding: 0.5rem 1rem;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border: black 2px solid;
  border-radius: 10px;
  font-weight: 600;
  font-family: inherit;
}

    .userBtn:hover {
        border: #9aa0a6 2px solid;
    }
